
/*x2,3*/

#slider {
	width: 50%;
	overflow: hidden;
	position: relative;
}

/*x*/
.slides {
	position: relative;
}

/*x*/
#slider .slides li {
	float: left; 
}

/*x*/
.controls li {
	position: absolute;
	cursor: pointer;
	top: 50%;
	margin-top: -30px;
}

/*x*/
.controls li:nth-child(2) {
	right: 0;
}

.pagination	{
	position: absolute;
	bottom: 25px;
	left: 50%;
}

/*x*/
/*background-color*/
.pagination li {
	float: left;
	background-color: #ddd;
	cursor: pointer;
}

/*active background-color*/
.pagination li.active {
	background-color: #000;
}

/* ---------------------------------------------
  Helper
------------------------------------------------ */

.clearfix:after {
	display: table;
	content: "";
	clear: both;
}

.responsive {
	width: 100%;
	height: auto;
}