

#slider {
	width: 50%;
	overflow: hidden;
	position: relative;
}

.slides {
	position: relative;
}

#slider .slides li {
	float: left;
}

.controls li {
	position: absolute;
	cursor: pointer;
	top: 50%;
	margin-top: -30px;
}

.controls li:nth-child(2) {
	right: 0;
}

.pagination	{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -33px;
}

.pagination li {
	float: left;
	width: 12px;	
	height: 12px;
	background-color: #ddd;
	border-radius: 12px;
	cursor: pointer;
	margin-right: 15px;
}

/* ---------------------------------------------
  Helper
------------------------------------------------ */

.clearfix:after {
	display: table;
	content: "";
	clear: both;
}

.responsive {
	width: 100%;
	height: auto;
}